body{
    background-color: white;
}

.container{
    width: 1500px;
    height: 700px;
    background-image: url('https://media.istockphoto.com/id/1146532466/photo/abstract-blue-digital-background.jpg?s=612x612&w=0&k=20&c=RkhNiZpHTQkx8p6FPiHgZtcWr_o2WabZLgDAVFHTS8g=');
    background-position: center;
    background-size: 1500px 700px;
}

.title{
    width: 1500px;
    font-size: 22px;
    color: #fff;
    font-family:cursive;
    text-align: center;
    padding-top: 100px;
}

.title::first-letter{
    font-size: 25px;
    color: pink;
    font-weight:900;
}

.calculator{
    width: 1500px;
}

table{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

table input{
    width: 300px;
    height: 40px;
    color: white;
    background-color: black;
    border: 1px black;
    border-radius: 50px;
}

.calculator input{
    padding-right: 20px;
}

.calculator button:hover{
    color:lightcoral;
}

table button{
    width: 50px;
    height: 40px;
    color:white;
    background-color: black;
    border: 0px white;
    border-radius: 50px;
}

.owner{
    float: right;
    color: #fff;
    font-size: 15px;
    padding-top: 145px;
}
